body {
  background-color: #0e1730;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #cecece;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cecece;
}
a {
  text-decoration: none;
  color: #cecece;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  align-items: center;
}
* {
  font-family: "Jost", Sans-Serif;
}
img {
  width: 200px;
  height: 60px;
}
nav {
  margin: 0 auto;
  max-width: 1200px;
}
.border-kiri {
  padding-left: 100px;
  border-left: 2px solid #cecece;
  height: 105px;
  align-items: center;
  display: flex;
}
.border-kanan {
  padding-right: 100px;
  border-right: 2px solid #cecece;
  height: 105px;
  align-items: center;
  display: flex;
}
